@include b(l-home){
	position: relative;
	z-index: 1;

	@include e(intro){
		@include m(content){
			background: $white;
			padding: 34px 30px;
			position: relative;

			@include max-screen($screen-xs-max) {
				padding: 1px 30px 34px;
			}
		}

		@include m(grid){
			padding-left: 0;
			position: relative;

			.treatment {
				float: left;
				height: 325px;
				width: 50%;
				position: relative;
				text-decoration: none;
				display: block;
				background-size: 100% 100%;
				background-position: center center;
				transition: background-size .5s ease;

				@include max-screen($screen-xs-max) {
					width: 100%;
					height: 285px;
				}

				h3 {
					text-align: center;
					width: 65%;
					color: white;
					text-transform: uppercase;
					font-size: 16px;
					line-height: 19px;
					letter-spacing: 2.4px;

					&:before {
						display: block;
						content: "";
						width: 50%;
						height: 2px;
						background: $white;
						position: absolute;
						top: -17px;
						left: 0;
						transition: width .5s ease;
						left: 50%;
						transform: translate(-50%);
					}

					&:after {
						display: block;
						content: "";
						width: 50%;
						height: 2px;
						background: $white;
						position: absolute;
						bottom: -20px;
						left: 0;
						transition: width .5s ease;
						left: 50%;
						transform: translate(-50%);
					}
				}

				&:hover {
					background-size: 125% 125%;

					h3 {
						&:before {
							width: 100%;
						}
						&:after {
							width: 100%;
						}
					}
				}
			}
		}
	}

	@include e(video) {
		.video {
			width: 65.517241379%;
			float: left;

			@include max-screen($screen-sm-max) {
				width: 100%;
			}

			iframe {
				width: 100%;
				height: 100%;
			}
		}
		.content {
			width: 34.482758621%;
			background: $white;
			padding: 34px 30px;
			float: left;

			@include max-screen($screen-sm-max) {
				width: 100%;
			}

			p {
				font-size: 22px;
				line-height: 34px;
				text-align: center;
			}
		}
	}

	@include e(instagram) {
		.sb_instagram_header, #sbi_load {
			display: none;
		}

		#sb_instagram {
			height: 412px !important;
		}
	}

	@include e(about) {
		background-image: url(../img/tmp/about-bg.jpg);
		background-size: cover;
		background-position: center center;
		height: 410px;
		width: 100%;

		.content {
			padding-top: 40px;
		}

		@include max-screen($screen-xs-max) {
			background-position: 70%;
			position: relative;

			&:after {
				content: "";
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(255,255,255,.7);
				top: 0;
			}

			.content {
				position: relative;
				z-index: 100;
			}
		}
	}
}
