@include b(b-image-cta){
	background-color: $brandGold;
	position: relative;
	clear: both;
	padding: 66px 0 80px;

	@include max-screen($screen-xs-max) {
		padding: 16px 0px;
	}

	h2, p {
		color: $white;
	}

	h2 {
		margin-top: 0;
		font-size: 24px;
		line-height: 29px;
		font-weight: 700;
		letter-spacing: 3.6px;
	}

	p {
		font-size: 22px;
		line-height: 34px;
	}

	@include max-screen($screen-xs-max) {
		.b-button--tertiary {
			display: block;
			margin: 0 auto;
			margin-bottom: 20px;
			padding-top: 15px;
		}
	}

	.btn-wrap {
		margin: 0 auto;
	}
}
