.burger-container {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translate(0, -50%);

	width: 40px;
	height: 40px;
	background: $brandCream;

	.inner {
		position: relative;
		top: 50%;
		left: 7px;
		transform: translate(0%, -50%);
	}

	.burger-icon {
		@include burger(26px, 4px, 5px, $white, 0, .5s);
		margin-top: 0;
		margin-bottom: 0;

	    &.menu-active {
	        @include burger-to-cross;
	    }
	}

	@include min-screen($screen-md-min) {
		display: none;
	}
}

.mobile-sign-up {
	position: absolute;
	top: 50%;
	right: 70px;
	transform: translate(0,-50%);

	.b-button {
		min-width: 100px;
		font-size: 16px;
		padding: 6px 16px 8px;
	}
}

@include b(l-masthead){
	width: 100%;
	height: 109px;
	position: fixed;
	top:0;
	z-index: 2001;
	background-color: $brandCream;

	&.cookie-active {
		top: 62px;
	}

	@include e(container) {
		height: 100%;
	}

	@include e(nav) {
		position: relative;
		top: 50%;
		transform: translate(0,-50%);
		flex: 3 !important;
		text-align: center;

		ul {
			margin: 0;
			height: 109px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		@include m(item) {
			align-content: flex-start;
			flex: 1;
			font-size: 14px;
			line-height: 17px;
			text-align: center;
			position: relative;

			&:last-child {
				margin-right: 0;
			}

			@include max-screen($screen-md-max) {
				margin-right: 30px;
			}
			
			a {
				position: relative;

				&:after {
					content: "";
					display: block;
					height: 0px;
					width: 100%;
					position: absolute;
					bottom: -6px;
					left: 0;
					transition: height .25s ease;
				}
			}

			&.logo-replacement {
				width: 119px;
				height: 77px;
				background: url("../img/logo/logo.png") no-repeat;
				@include image-2x("../img/logo/logo@2x.png", contain);
				background-position: center center;

				a {
					display: block;
					opacity: 0;
					height: 100%;
				}
			}

			&.last-child {
				margin-right: 0 !important;
			}

			&:hover {
				a {
					&:after {
						height: 4px;
						background: $brandGold;
					}
				}
			}

			a, span {
				text-decoration: none;
				color: $body-font-color;
				font-weight: 700;
				padding: 9px 0;
				text-transform: uppercase;
				font-size: inherit;
				line-height: inherit;

				@include max-screen($screen-sm) {
					padding: 10px;
				}
			}

			&.current-menu-item, &.current-page-ancestor, &.current_page_parent {
				a {
					color: $brandGold;
				}
			}
		}

		@include m(mobile) {
			position: fixed;
			width: 100%;
			top: 70px;
			z-index: 2002;

			@include min-screen($screen-sm-min){
				top: 125px;
			}
		}

		@include m(mobile-primary-items) {
			margin: 0;

			.b-button {
				display: none;
			}

			li {
				background: rgba($brandCream, .94);
				border-top: 1px solid #171421;

				&:last-child {
					border-bottom: 1px solid #171421;
				}

				a {
					font-family: $header-font-family;
					color: $white;
					text-decoration: none;
					font-size: 18px;
					line-height: 28px;
					display: block;
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	@include e(subnav) {
		display: none;
		position: absolute;
		top: 100%;
		width: 100%;
		left: 0;

		@include m(item) {
			background: $brandGold;
			border-radius: 3px;
			box-shadow: inset 0px 1px 3px 1px rgba(255,255,255,0.3);
			display: block;
			padding: 10px 36px 12px;
			width: 140%;
			position: relative;
			left: -20%;
			margin-top: 6px;

			&:hover {
				background: $brandGold;

				a {
					color: $body-font-color;
				}
			}

			&:first-child {
				margin-top: 24px;
				&:before {
					-webkit-backface-visibility: hidden;
					background: $brandGold;
					border-radius: 2px;
					box-shadow: -3px -3px 5px 0px rgba(0,0,0,0.1);
					content: "";
					display: block;
					height: 20px;
					position: absolute;
					transform: rotate(45deg) skew(5deg, 5deg) translate(-50%, 0);
					top: 0px;
					left: 50%;
					width: 20px;
				}

				&:hover {
					&:before {
						background: $brandGold;
					}
				}
			}
		}
	}

	& + .l-page-section:not(.l-page-section--flush){
		padding-top: 159px;
	}
}

.animated {
	transition: transform .5s linear;
}

.animated.slideUp {
	transform: translateY(-100%);
}

.animated.slideDown {
	transform: translateY(0);
}

