@include b(l-single-post){
	margin-top: 50px;

	h1 {
		margin-bottom: 76px;

		@include max-screen($screen-md-max) {
			margin-bottom: 10px;
		}
	}

	@include e(content){
		ul {
			li {
				list-style-type: disc;
				margin-left: 20px;
			}
		}
	}

	@include e(sidebar){
		padding: 30px 30px;
		background: $brandGold;
		position: relative;

		@include min-screen($screen-md) {
			width: 352px;
			transition: all .5s linear;
		}

		&.down-fixed {
			@include min-screen($screen-md) {
				position: fixed;
				top: 63px;
			}
		}

		&.up-fixed {
			@include min-screen($screen-md) {
				position: fixed;
				top: 188px;
			}
		}

		h6 {
			margin: 0;
			color: $white;
		}

		p {
			color: $white;
		}

		@include m(social){
			margin-bottom: 0;

			li {
				display: inline-block;
				padding: 0 21px;

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}

				a {
					color: $white;
					text-decoration: none;
					font-size: 32px;
				}
			}
		}
	}
}

.single-post {
	.b-related-posts {
		background-color: #f5f5f5;
		padding: 40px 0 50px;

		@include max-screen($screen-xs-max) {
			padding: 20px 0;
		}
	}

	.l-hero {
		.l-hero__text {
			h1 {
				color: $white;

				&.purple {
					color: $brandCream;
				}

				&.black {
					color: $black;
				}
		    }
		}
	}
}
