.l-vid-modal {
  height:100%;
  height:100vh;
  width:100%;
  width:100vw;
  position:fixed;
  top: 0;
  z-index:5000;
  overflow-y:scroll;
  overflow-x:hidden;
  transform: translateY(200%);
  visibility: hidden;
  background: rgba(0,0,0,1);
  transition: transform .4s ease-in-out;

  &.animated{
    visibility: visible;
    transform: translateY(0%);

    .l-vid-modal__inner {
      opacity:1 !important;
    }
  }

  .l-vid-modal__inner {
    opacity: 0;
    width:100%;
    height:100%;
    transition: .4s ease-in-out;
  }

  .l-vid-modal__vid {
    width:100%;
    height:100%;
  }

  .l-vid-modal__close {
  	position: absolute;
  	top: 40px;
  	right: 40px;
  	transform: rotate(45deg);
  	z-index: 1;

  	span {
  		color: $white;
  		font-size: 50px;
  	}
  }

  video{
    width:100%;
    height:100%;
  }

  .js-wistia-embed{
    width:100%;
    height:100%;

    .wistia_embed{
      width:100%;
      height:100%;
    }

    div[id^='wistia_bigPlayButton_'] {
      @media only screen and (min-width: 768px) {
        display: none!important;
      }
    }
  }
}