.gform_wrapper {
	max-width:100%!important;
	margin-top: 0!important;

	div.validation_error {
		display: none!important;
	}

	.gform_heading {
		margin: 0 !important;
	}

	.gform_body {
		li.gfield {
			// margin: 0;

			input[type=text], input[type=url], input[type=email], input[type=tel], input[type=number], input[type=password] {
				height: 48px;
				padding: 10px 40px 13px 15px;
				font-size: 24px;
				line-height: 32px;
				border-radius: 3px;
			}

			input [type=textarea]{
				padding: 10px 40px 15px 15px !important;
			}

			&.gfield_error {
			    background-color: transparent!important;
			    margin-bottom: 0 !important;
			    border-top: none!important;
			    border-bottom: none!important;
			    width: 100%;

			    .ginput_container {
			    	max-width: 100%;
			    }

			    .gfield_label {
			    	color: $brandPurple;
			    }

			    input[type="text"], textarea, .trigger {
			    	border:4px solid #EDA4A4;
			    }
			}
		}
	}

	.gfield_description {
		&.validation_message {
			display: none;
		}
	}

	.top_label {
		input, textarea {
			padding: 10px;
			display: block;
			width: 100% !important;
		}

		textarea {
			padding: 10px 40px 15px 20px !important;
		}

		.gfield_label {
			font-weight: bold !important;
			// display: block !important;
			font-size: 14px;
			line-height: 22px !important;
			padding: 15px 0 5px !important;
			color: $brandPurple;
		}
	}

	input[type="text"], textarea{
		border:4px solid #F2F2F2;

		&:focus {
			outline: none;
			border-color: #CACACA;
		}
	}

	.datepicker {
	    width: 100% !important;
	}

	.float-left {
		float: left;
		clear: left;
		width: 47.5%;
		margin-top: 0;
	}

	.float-right {
		float: right;
		clear: right;
		width: 47.5%;
		margin-top: 0;
	}

	.clear-multi {
		margin-top: .375em;
	}

	.fancy-select {
		margin-right: 7px;
		display: block;
		float: none;
		width: 100%;

		label.gfield_label + div.ginput_container {
			float: right;
			width: 100%;
		}

		div.fancy-select {
			width: 97.5%;
		}

		.trigger {
			background-color: $white;
			color: #969696;
			font-size: 14px;
			line-height: 22px;
			text-transform: none;
			font-weight: normal;
		}

		.options {
			width: 100%;
			&.open {
				top: 44px;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}
	}

	.gform_footer {
		text-align: right;
	}

	.file-upload-wrapper {
		border:1px solid #CCCCCC;

		.file-upload-input {
			width: 80% !important;
			display: inline-block;
			border: none;
			padding: 5px 0;
		}

		button {
			width: 20%;
			background: $brandGrey;
			color: #7B7B7B;
			height: 48px;
			display: block;
			float: left;
			text-align: center;
			cursor: pointer;
			transition: all .5s ease;
			border: none;

			&:hover {
				background: $white;
			}
		}
	}
}

.gform_confirmation_message {
	text-align: center;
	border: 3px solid $brandGreen;
	border-radius: 10px;
	background: transparentize($brandGreen, .9);
	padding: 20px;
}
