@include b(b-latest-articles){
	background-color: #F5F5F5;
	padding-bottom: 30px;

	@include max-screen($screen-xs-max) {
		padding-top: 20px;
		padding-left: 0;
		padding-right: 0;
	}

	h2 {
		margin-bottom: 20px;
	}

	.b-button {
		margin-top: 40px;
		margin-bottom: 30px;
		color: $body-font-color;

		@include max-screen($screen-xs-max) {
			margin-top: 0;
			margin-bottom: 20px;
			width: 70%;
			font-size: 17px;
			line-height: 24px;
		}
	}

	@include e(article){
		padding-left: 22px;
		padding-right: 22px;

		@include max-screen($screen-xs-max) {
			padding-left: 15px;
			padding-right: 15px;
			margin-bottom: 30px;
		}

		&.full {
			@include max-screen($screen-lg) {
				margin-bottom: 30px;
			}
		}

		.img-link {
			&.smaller {
				@include screen($screen-sm, $screen-lg) {
					width: 50%;
					float: left;
				}
			}
		}

		img {
			width: 100%;
		}

		@include m(container){
			margin-top: -10px;
			background: $white;
			padding: 25px 22px;

			@include max-screen($screen-xs-max) {
				padding-bottom: 45px;
			}

			&.smaller {
				@include screen($screen-sm, $screen-lg) {
					width: 50%;
					float: left;
					margin-top: 0;
					height: 313px;
				}

				@include screen($screen-sm, $screen-md) {
					height: 239px;
				}
			}

			h3 {
				font-size: 26px;
				line-height: 26px;
				margin: 20px 0 10px;

				a {
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			h5 {
				margin-bottom: 8px;

				a {
					font-size: inherit;
					line-height: inherit;
					font-weight: inherit;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			p {
				font-size: 20px;
				line-height: 28px;

				&.excerpt {
					@include max-screen($screen-md-min) {
						display: none;
					}
				}
			}
		}

		@include m(meta){
			margin-bottom: 20px;

			.tags {
				font-size: 13px;
				line-height: 28px;
				text-align: center;

				p, li, a {
					font-size: inherit;
					line-height: inherit;
					list-style-type: none;
					display: inline-block;
					text-decoration: none;
					margin-bottom: 0;

					&:before {
						display: none;
					}
				}

				li {
					background: $black;
					padding: 0 10px;
					width: 92px;
					height: 28px;
					margin-left: 20px;
					margin-right: 10px;
					position: relative;

					@include max-screen($screen-xs-max) {
						right: -33px;
					}

					&:before {
						content: "";
						display: block;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 14px 16px 14px 0;
						border-color: transparent $black transparent transparent;
						position: absolute;
						left: -16px;
					}

					&.business {
						background: $black;

						&:before {
							border-color: transparent $black transparent transparent;
						}
					}

					&.personal {
						background: $brandGreen;

						&:before {
							border-color: transparent $brandGreen transparent transparent;
						}
					}

					.dot {
						width: 5px;
						height: 5px;
						border-radius: 100%;
						background-color: $white;
						position: absolute;
						top: 50%;
						left: -2px;
						transform: translate(0, -50%);
					}

					a {
						color: $white;
					}
				}

				@include max-screen($screen-xs-max) {
					float: left;
					margin-right: 15px;
					padding-top: 5px;

					> div {
						float: left;
					}
				}
			}

			.date {
				display: inline-block;

				@include max-screen($screen-xs-max) {
					float: left;
					margin-right: 10px;
				}

				p {
					font-size: 14px;
					line-height: 28px;
				}
			}

			.share {
				display: inline-block;

				li {
					display: inline-block;
					position: relative;
					top: 7px;

					&:before {
						display: none;
					}
				}

				a {
					text-decoration: none;
				}

				.icon-twitter {
					color: #00ABEC;
				}

				.icon-facebook {
					color: #3B579D;
				}
			}
		}
	}
}
