.tool-pagination {
	clear: both;

	.prev {
		float: left;
		color: $black;
		min-width: auto !important;

		@include max-screen($screen-xs-max) {
			padding: 10px 0 12px;
		}
	}
	.next {
		float: right;
		color: $black;
		min-width: auto !important;

		@include max-screen($screen-xs-max) {
			min-width: 120px;
			margin-bottom: 30px;
		}
	}

	.pages {
		text-align: center;
		padding: 0;

		li {
			display: inline-block;
			color: $black;
			font-weight: bold;
			margin-right: 13px;

			&:last-child {
				margin-right: 0;
			}

			a {
				color: $brandPurple;
				text-decoration: none;
				font-weight: bold;
			}
		}
	}
}
