@include b(b-testimonial-block){
	background: $brandGreen;
	height: 622px;
	overflow: hidden;

	@include max-screen($screen-md-max) {
		height: auto;
	}

	h2 {
		color: $white;
		&:before {
			@include container($brandPurple);
			transition: transform .25s ease;

			@include max-screen($screen-sm-max) {
				top: -32px;
			}
		}

		@include screen($screen-md-min, $screen-md-max) {
			margin-bottom: 20px;
		}

		&.active {
			&:before {
				transform: translate(-50%, -50%);
			}
		}
	}

	@include e(left){
		position: relative;

		.slick-slide {
			padding: 35px 70px;

			@include max-screen($screen-md-max) {
				padding: 0 30px;
			}
		}
	}

	@include e(right){
		padding: 0;
	}

	@include e(testimonial){
		padding-right: 10px;

		h6 {
			font-size: 18px;
			line-height: 22px;
			color: $white;
			margin: 0;
		}

		p {
			font-size: 32px;
			line-height: 36px;
			color: $white;

			@include max-screen($screen-md-max) {
				font-size: 28px;
				line-height: 36px;
			}

			@include max-screen($screen-xs-max) {
				font-size: 18px;
				line-height: 24px;
			}
		}
	}

	.slick-next, .slick-prev {
		&:before {
			color: $white;
		}
	}

	.slick-slide {
		height: auto;

		&:focus {
			outline: none;
		}
	}
}
