<div class="b-cookie-policy">
	<div class="container h-100">
		<div class="row h-100">
			<div class="col-md-11 b-cookie-policy__content">
				<p>Cookies are small text files on your computer. They allow us to assist you with your browsing experience and also help us to understand how you use our site. You can delete or block cookies but it may affect your access to some parts of our site. Fout more about cookies at the Information Commissioner’s website at <a href="http://www.ico.gov.uk">www.ico.gov.uk</a>. By using our website you accept use of cookies.</p>
			</div>
			<div class="col-md-1 b-cookie-policy__button">
				<a href="#" class="b-button b-button--tertiary js-cookie-policy">OK</a>
			</div>
		</div>
	</div>
</div>
