<div class="l-form-overlay">
	<div class="l-form-overlay__inner">
		<div class="js-form-close l-form-overlay__close"><span class="icon-plus"></span></div>
		<div class="l-form-overlay__inner--content text-center">
			<h3>So you’re interested in an Arro account?</h3>
			<p>Pop your details in the boxes below and you’ll be the first to get an invite as soon as Arro accounts are ready. </p>
		</div>
		<div class="l-form-overlay__inner--form">
			<form action="http://cube3mailer.wearecube3.com/t/t/s/xhhmd/" method="POST" id="get-invite" novalidate>
				<fieldset class="switch-field">
					<div class="switch-title">I’m interested in:</div>

					<div class="switch-container">
						<input type="radio" id="personal" name="sector" value="personal" {% if not checked %}checked{% endif %}/>
						<label for="personal">Personal</label>

						<input type="radio" id="business" name="sector" value="business" {% if checked %}checked{% endif %}/>
						<label for="business">Business</label>
					</div>
				</fieldset>

				<fieldset>
					<input type="text" id="name" name="name" placeholder="What's your name">
				</fieldset>

				<fieldset>
					<input type="email" id="email" name="email" placeholder="Enter your email address...">
				</fieldset>

				<fieldset class="signup-field">
					<input type="checkbox" id="signup" class="checkbox-custom" name="signup">
					<label for="signup" class="checkbox-custom-label"></label>

					<p class="signup-label">
						Tick this box if you’re ok with us sending you straightforward money tips and guides. And we promise, no baffling, boring banky stuff.
					</p>
				</fieldset>

				<fieldset>
					<input type="submit" name="submit" class="b-button" value="Join us">
				</fieldset>
			</form>
		</div>
	</div>
</div>
