<div class="l-vid-modal" id="vid-modal">
	<div class="l-vid-modal__inner">
		<div class="l-vid-modal__close" id="js-close-vid-modal">
			<img src="{{site.theme.link}}/app/img/ui/close--white.png" alt="">
		</div>
		<div class="l-vid-modal__vid js-wistia-embed"></div>
	</div>
</div>
