<div class="l-video-overlay">
	<div class="js-video-close l-video-overlay__close"><span class="icon-plus"></span></div>

	<iframe src="" class="l-video-overlay__video" frameborder="0" allowfullscreen></iframe>
</div>
