{% extends "base.twig" %}
{% block content %}
	{% include 'layout/acf/hero.twig' with {'postType': 'page'} %}

	<div class="l-home">
		<div class="container">
			<div class="l-page-section l-home__intro">
				<div class="row">
					<div class="col-md-4 l-home__intro--content">
						<h2 class="text-center">Our top treatments</h2>
						<p>Pellentesque lacinia quam vitae nisl tempus consequat. Nulla pharetra, justo eget viverra imperdiet, nisi tortor rhoncus justo, a cursus enim risus eget leo. Nullam eleifend odio ex. Aenean elit libero, condimentum et tincidunt id, luctus a dolor. Donec ultricies leo ullamco, bibendum sem non, finibus est.</p>
						<p>Aliquam sit amet risus non tortor tincidunt tincidunt. Quisque suscipit volutpat mauris, eget fermentum sem venenatis sed. Ut sit amet tellus non velit finibus tempor. Integer ut nunc at eros interdum fringilla. Aenean a laoreet magna. Ut feugiat viverra enim, ac aliquet magna dictum non. Sed erat risus, posuere et venenatis id.</p>
						<div class="text-center">
							<a href="#" class="b-button">
								View all our treatments
							</a>
						</div>
					</div>
					<div class="col-md-8 l-home__intro--grid">
						<a href="#" class="treatment" style="background-image: url({{site.theme.link}}/app/img/tmp/treatment-1.png);">
							<h3 class="ab-center">Treatment name</h3>
						</a>
						<a href="#" class="treatment" style="background-image: url({{site.theme.link}}/app/img/tmp/treatment-2.png);">
							<h3 class="ab-center">Treatment name</h3>
						</a>
						<a href="#" class="treatment" style="background-image: url({{site.theme.link}}/app/img/tmp/treatment-3.png);">
							<h3 class="ab-center">Treatment name</h3>
						</a>
						<a href="#" class="treatment" style="background-image: url({{site.theme.link}}/app/img/tmp/treatment-4.png);">
							<h3 class="ab-center">Treatment name</h3>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h2 class="section-header text-center">Success Stories</h2>
					</div>
				</div>
				<div class="row l-home__video">
					<div class="col-md-12">
						<div class="video js-match-height">
							<iframe src="https://www.youtube.com/embed/ScMzIvxBSi4" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="content js-match-height">
							<p>“Aliquam scelerisque scelerisque magna quis semper in suscipit velit ipsum, at sagittis ipsum rutrum nec. Sed orci neque, commodo at libero quis, viverra mattis eros quis pellentesque enim, etiam non integer iaculis turpis in bibendum feugiat.”</p>

							<a href="#" class="b-button">More success stories</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		{% include 'layout/acf/instagram-block.twig' %}

		<div class="l-home__about">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="content">
							<h2>ABOUT DR NYLA</h2>
							<p>Dr. Nyla Raja is the founder and Medical Director of The Medispa, Wilmslow. She is a highly respected and much sought after Cosmetic Dermatology GP and is considered to be one of the top cosmetic doctors in the country. Having delivered over fifteen thousand treatments with truly exceptional results, she has gained the admiration and respect of TV personalities, celebrity figures and some of Britain's most familiar faces</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include 'layout/acf/image-cta.twig' %}
	{% include 'footer.twig' with {'pullup': '120'} %}
{% endblock %}

