@include b(b-features){
	h2 {
		margin-bottom: 20px;
	}

	ul {
		width: 50%;
		float: left;
		margin: 0;

		&:first-child {
			padding-right: 15px;
		}

		&:last-child {
			padding-left: 20px;
		}

		@include max-screen($screen-xs-max) {
			width: 100%;
			float: none;
			margin-bottom: 30px;

			&:first-child {
				padding-right: 0px;
			}

			&:last-child {
				padding-left: 0px;
			}
		}

		li {
			display: inline-block;
			margin-right: 10px;
			margin-bottom: 30px;
			margin-left: 50px;
			position: relative;

			&:last-child {
				margin-bottom: 0px;
			}

			@include max-screen($screen-sm-min){
				display: block;
			}

			&:before {
				font-family: 'arro' !important;
				content: $icon-check;
				display: inline-block;
				font-size: 20px;
				color: $brandGreen;
				margin-right: 10px;
				position: absolute;
				left: -35px;
			}
		}
	}
}
