@include b(l-footer) {
	background-color: $white;
	padding: 25px 0 70px !important;

	@include max-screen($screen-xs-max) {
		padding: 20px 0 70px !important;
	}

	p {
		color: $body-font-color;
		font-size: 14px;
		line-height: 22px;

		@include max-screen($screen-md-max) {
			font-size: 13px;
		}

		a {
			color: inherit;
			text-decoration: underline;
			font-size: inherit;
		}
	}

	a {
		color: $body-font-color;
		font-size: 17px;
		line-height: 28px;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	ul {
		margin: 0;

		li {
			line-height: 1em;

			&.current-menu-item {
				a {
					text-decoration: underline;
				}
			}
		}
	}
}
