@include b(l-hero) {
	z-index: 1;
	position:relative;
	height:80vh;
	max-height:620px;
	background-size:cover;
	background-repeat:no-repeat;
	overflow:hidden;
	margin-top: 70px;

	@include max-screen($screen-xs-max) {
		height: 470px;
	}


	.mastercard-container {
		position: relative;
		margin: 0 auto;

		.mastercard-logo {
			position: absolute;
			bottom: 10px;
			right: 0;
		}
	}

	.apply-tint {
		&:after {
			content: "";
			width: 100%;
			height: 100%;
			display: block;
			background-color: rgba(0,0,0,0.25);
		}
	}

	@include min-screen($screen-sm-min) {
		margin-top: 125px;

		&.cookie-active {
			margin-top: 187px;
		}
	}

	@include e(video) {
		width: 100%;
		height:100%;
		background-color: $black;
		z-index:1999;
		display: block;
		// @include min-screen($screen-md-max) {
		// 	display: block;
		// }
		video{
			object-fit: cover!important;
		}
	}

	@include e(slide) {
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 0%;

		.ab-center {
			width: 90%;
		}
	}

	@include e(text) {
		h1 {
			color: $white;
			margin-bottom: 50px;
			margin-top: 0;
		}

		p {
			text-align: left;
			color: $white;
			font-size: 24px;
			line-height: 32px;
			margin-bottom: 15px;
		}

		img {
			@include screen($screen-is-min, $screen-is-max) {
				max-width: 200px;
			}
		}

		.text-center {
			p {
				text-align: center;
			}
		}
	}

	@include e(bg) {
		width:100%;
		height:auto;
		display: block;
		max-width:100%;
	}
}

.archive, .blog {
	.l-hero {
		min-height: 25vh;
		max-height: 500px;

		@include max-screen($screen-xs-max) {
			max-height: 280px;
		}
	}
}
