@mixin placeholder {
	&::-moz-placeholder { @content }
	&::-webkit-input-placeholder { @content }
	&:-ms-input-placeholder { @content }
}

@mixin placeholder-style {
    font-size: 24px;
    line-height: 28px;
    color: #B0B0B0;
    font-family: $font-family;

    @include max-screen($screen-xs-max) {
		font-size: 16px;
		line-height: 24px;
    }
}

@mixin image-2x($image, $size) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $size;
  }
}

@mixin pseudo-icon($icon, $size: 6px, $lh: 16px)  {
	content: $icon;
	font-family: 'arro' !important;
	font-size: $size;
	line-height: $lh;
	display: block;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

@mixin gradBlue {
	background-image: -moz-linear-gradient(top, $brandPurple, $brandPurpleLight);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($brandPurple), to($brandPurpleLight));
	background-image: -webkit-linear-gradient(top, $brandPurple, $brandPurpleLight);
	background-image: -o-linear-gradient(top, $brandPurple, $brandPurpleLight);
	background-image: linear-gradient(to bottom, $brandPurple, $brandPurpleLight);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff50abdf', endColorstr='#ff1f78aa', GradientType=0);
	background-repeat: repeat-y;
}

@mixin gradRed {
	background-image: -moz-linear-gradient(top, $brandPurple, $brandPurpleLight);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($brandPurple), to($brandPurpleLight));
	background-image: -webkit-linear-gradient(top, $brandPurple, $brandPurpleLight);
	background-image: -o-linear-gradient(top, $brandPurple, $brandPurpleLight);
	background-image: linear-gradient(to bottom, $brandPurple, $brandPurpleLight);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff50abdf', endColorstr='#ff1f78aa', GradientType=0);
	background-repeat: repeat-y;
}

@mixin gradGrey {
	background: $white;
	background: -moz-linear-gradient(top,  $white 0%,  rgba(0,0,0,0.7) 100%);
	background: -webkit-linear-gradient(top,  $white 0%, rgba(0,0,0,0.7) 100%);
	background: linear-gradient(to bottom,  $white 0%, rgba(0,0,0,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
}

@mixin gradBlack {
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .7)));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff50abdf', endColorstr='#ff1f78aa', GradientType=0);
	background-repeat: repeat-y;
}

@mixin gradBlackHover {
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .3), rgba(0, 0, 0, .7));
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, .3)), to(rgba(0, 0, 0, .7)));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .3), rgba(0, 0, 0, .7));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, .3), rgba(0, 0, 0, .7));
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .7));
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff50abdf', endColorstr='#ff1f78aa', GradientType=0);
	background-repeat: repeat-y;
}

@mixin slant($background: $white, $width: 60px, $height: 100%) {
	&:after {
		content: "";
		display: block;
		width: $width;
		height: $height;
		position: absolute;
		right: -30px;
		z-index: 100;
		top: 0;
		background: $background;
		transform: skew(20deg);
	}
}

@mixin fa-icon-rotate($degrees, $rotation) {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation});
  -webkit-transform: rotate($degrees);
      -ms-transform: rotate($degrees);
          transform: rotate($degrees);
}

@mixin border($background: $brandPurple, $width: 5px) {
	border: $width solid $background;
	padding: 1px 14px 2px;
}

@mixin container($borderColor: $brandPurple) {
	content: "";
	display: block;
	width: 96px;
	height: 54px;
	border: 8px solid $borderColor;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -75%);
}
