@include b(l-archive-treatments) {
	@include max-screen($screen-xs-max) {
		padding-top: 20px;
	}


	.row {
		&:last-child {
			margin-bottom: 0;
		}

		.b-latest-articles__article {
			margin-top: 44px;
			float: left;
			background: $white;

			@include max-screen($screen-xs-max) {
				padding-top: 20px;
				padding-left: 0;
				padding-right: 0;
			}

			h5 {
				margin-bottom: 8px;

				a {
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			p {
				font-size: 20px;
				line-height: 28px;

				@include max-screen($screen-xs-max) {
					font-size: 16px;
					line-height: 24px;
				}
			}
		}

		.b-latest-articles__article {
			padding: 0;

			> div {
				padding: 0;

				&.b-latest-articles__article--container {
					padding: 30px;
				}
			}
		}

		.b-latest-articles__article--container {
			background: transparent;
		}
	}
}


