@include b(b-large-cta){
	@include e(content){
		p {
			span {
				@include min-screen($screen-sm-min) {
					font-size: 36px;
					line-height: 46px;
				}
			}
		}

		a {
			border-color: $brandCream;
			color: $brandCream !important;
		}
	}

	&.red {
		.b-large-cta__content {
			a {
				border-color: $white;
				color: $white !important;
			}
		}
	}
}
