@include b(b-locations) {
	h3 {
		margin-bottom: 36px;
	}

	img {
		width: 100%;
	}

	@include e(box) {
		margin-bottom: 50px;
		margin-top: -8px;
		padding: 15px 0 30px;

		&.darkblue {
			background: $brandCream;

			h1, h2, h3, h4, h5, h6, p, a, li {
				color: $white;
			}
		}

		&.green {
			background: $brandGreen;

			h1, h2, h3, h4, h5, h6, p, a, li {
				color: $white;
			}
		}

		&.red {
			background: $brandGold;

			h1, h2, h3, h4, h5, h6, p, a, li {
				color: $white;
			}
		}

		&.orange {
			background: $brandGold;

			h1, h2, h3, h4, h5, h6, p, a, li {
				color: $white;
			}
		}

		&.lightblue {
			background: $brandCream;

			h1, h2, h3, h4, h5, h6, p, a, li {
				color: $white;
			}
		}

		p {
			padding: 0 20px;
		}



		@include m(button) {
			border-color: $white;
			padding: 6px 15px 5px;

			@include max-screen($screen-xs-max) {
				border: none;
			}

			span {
				color: $brandCream;
				font-size: 18px;
				position: relative;
				top: 2px;
				margin-right: 5px;
			}
		}
	}
}
