@include b(b-two-column-image){
	@include min-screen($screen-md-min) {
		.p-left {
			padding-left: 30px;
		}

		.p-right {
			padding-right: 30px;
		}
	}

	@include max-screen($screen-xs-max) {
		margin-bottom: 30px;
	}

	@include e(image){
		width: 60%;
		float: left;

		@include max-screen($screen-sm-min){
			width: 100%;
		}

		#map-canvas {
			height: 100%;

			@include max-screen($screen-sm-min){
				height: 300px;
			}
		}

		img {
			display: block;
			margin: 0 auto;
			width: 100%;

			@include max-screen($screen-sm-min){
				margin-bottom: 20px;
			}
		}
	}
	@include e(content){
		background: $white;
		width: 40%;
		float: left;
		padding: 36px 50px;

		@include max-screen($screen-sm-min){
			width: 100%;
			padding: 36px 10px;
		}

		@include max-screen($screen-md-min){
			text-align: center;
		}

		h2 {
			margin-top: 0;
			margin-bottom: 20px;
		}

		li {
			display: inline-block;
			margin-right: 10px;

			@include max-screen($screen-sm-min){
				display: block;
			}

			&:before {
				font-family: 'drnyla' !important;
				content: $icon-check;
				display: inline-block;
				font-size: 20px;
				color: $brandGreen;
				margin-right: 10px;
			}
		}
	}
}
