<div class="l-page-section l-page-section--flush l-archive-conditions b-faq-block">
	<div class="container">
		<div class="row">
			<div class="col-md-3 l-archive-conditions__sticky">
				<h2>{{media_item.header_title}}</h2>
			</div>
			<div class="col-md-9">
				{% for item in media_item.q_and_a %}
					<div class="l-archive-conditions__condition">
						<h3>{{item.question}} <span class="icon-caret-down"></span></h3>
						
						<div class="l-archive-conditions__condition--content">
							{{item.answer}}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>