<div class="l-home__instagram">
	<h2 class="text-center">Share your selfies on <a href="{{options.instagram}}" target="_blank">Instagram</a> - #doctornyla</h2>

	{% filter shortcodes %}
		[instagram-feed]
	{% endfilter  %}
</div>