<div class="l-page-section {{media_item.theme}} {% if media_item.has_arrow %}has-arrow{% endif %}">
	{% if media_item.header_title %}
		{% include 'layout/acf/section-header.twig' with {'color': media_item.theme} %}
	{% endif %}

	<div class="b-one-column-text">
		<div class="container">
			<div class="row">
				{% if media_item.content %}
					<div class="col-md-10 col-md-offset-1 text-center">
						{{media_item.content}}
					</div>
				{% endif %}
				{% if media_item.has_button %}
					<div class="col-md-12 text-center">
						<a href="{{media_item.button_link}}" class="b-button b-button--signup">{{media_item.button_text}}</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>


