<div class="l-page-section b-secondary-header">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h2 class="b-secondary-header__title">{{media_item.header_title}}</h2>

				{% if media_item.sub_content %}
					{{media_item.sub_content}}
				{% endif %}
			</div>
		</div>
	</div>
</div>
